body {
  background-color: #E55B4B;
  font-family: "Gochi Hand";
  color: #fff;
  width: 100%;
  background-image: url();
  background-repeat: no-repeat;
  background-size: 101%;
  overflow-x: hidden;
  margin: 0;
  max-height: 3000px;
}

.header {
  height: 139px;
  max-width: 1149px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: url();
  background-color: #FFBD38 ;
  background-clip: content-box;
  border-radius: 100px;
  text-align: left;
  display: flex;
  justify-content: right;
}

.HeaderText {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 200px;
  background: -webkit-linear-gradient(90deg, #1C9591 0%, #90C320 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 16px transparent;
  color: white;
  font-size: 2.3em;
  width: 50%;
}

.HeaderText h2 {
  margin-left: 15px;
  margin-top: 34px;
}

.HeaderImg1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px;
}

.HeaderImg1 img {
  width: 100%;
  min-width: 60px;
}

.HeaderImg2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px;
}

.HeaderImg2 img {
  width: 100%;
  min-width: 60px;
}

.PumpButton {
  margin-top: 31px;
  margin-bottom: auto;
  margin-right: 50px;
  background-color: #fff;
  color: black;
  display: flex;
  border-radius: 20px;
  width: 15%;
  font-size: 2em;
  height: 50%;
}

.PumpButton img {
  width: 50px;
  margin: auto;
  margin-left: 30px;
}
.PumpButton h3 {
  margin: auto;
  margin-right: 50px;
}

.arrow {
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 2em;
  transform: rotate(-16.69deg);
}

.arrow img {
  margin-left: 50%;
  margin-top: -15%;
  width:35%;
}

.TOAD {
  max-width: 1149px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 20px;
}
.ToadImg {
  margin-bottom: 0;
  margin-left: -15%;
  margin-top: -1%;
}

.ToadImg img {
  width: 130%;
}

.ToadTitle {
  background: -webkit-linear-gradient(0deg, #DF7B17 0%, #FFBD38 90%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 50px transparent;
  color: white;
  font-size: 6em;
  margin-top: -18%;
  padding-left: 100px;
  padding-right: 100px;
}

.ToadSubTitle {
  color: #000;
  font-size: 2em;
  margin-top: -200px;
}

.Wallet {
  background-color: white;
  color: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 30px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.WalletNumber {
  margin-top: 0px;
  margin-left: 50px;
  font-size: 1.5em;
}

.WalletCopy {
  background-color: #FFBD38;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-right: -20px;
  min-width: 100px;
}

.WalletCopy img {
  width: 90%;
  margin: auto;
}

.gallery {
  width: 100%;
  height: 1200px;
  background:#34C759;
  display: flex;
  justify-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
}

.GalleryName {
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(0deg, #DF7B17 0%, #FF3838 90%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 50px transparent;
  color: white;
  font-size: 7em;
  padding-left: 50px;
  padding-right: 50px;
}
.GalleryMemes {
  height: 100%;
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
}
.Meme {
  background-color: white;
  width: 350px;
  height: 350px;
}

.Meme1 {
  background-image: url(Assets/1.png);
  background-size: 100%;
}

.Meme2 {
  background-image: url(Assets/2.png);
  background-size: 100%;
}

.Meme3 {
  background-image: url(Assets/3.png);
  background-size: 100%;
}

.Meme4 {
  background-image: url(Assets/4.png);
  background-size: 100%;
}

.Meme5 {
  background-image: url(Assets/5.png);
  background-size: 100%;
}

@media only screen and (max-width: 1673px) {
  .arrow{
    top: 27%;
    left: 16%;
  }
  .ToadImg {
    margin-bottom: 0;
    margin-left: 0;
  }
  .ToadImg img {
    width: 100%;
    margin-left: 0%;
  }

  .ToadTitle {
    color: white;
    font-size: 4em;
    margin-top: -13%;

  }

  .ToadSubTitle {
    color: #000;
    font-size: 2em;
    margin-top: -130px;
  }

  .header {
    margin-top: 1%;
  }

  .Wallet {
    background-color: white;
    color: #000;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 30px;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }
  .WalletNumber {
    margin: auto;
    margin-top: -10px;
    font-size: 1em;
  }

  .WalletCopy {
    width: 70px;
    margin-right: -20px;
    min-width: 70px;
    border-radius: 20px;
  }

  .WalletCopy img {
    margin-top: 50px;
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 1165px) {
  body {
    background-size: 100%;
  }
  .arrow {
    font-size: 1.2em;
    top: 20%;

  }
  .arrow img {
    width: 35%;

  }
  .header {
    height: 80px;
    width: 80%;
    margin-top: 40px;
    border-radius: 70px;
    text-align: left;
    display: flex;
    justify-content: right;
  }
  .HeaderText {
    font-size:  15px;
    margin-right: 200px;
    margin-top: -10px;
    width: 150px;
    margin-left: 0px;
    padding-left: 5px;
    -webkit-text-stroke: 6px transparent;
    
  }
  .HeaderImg1 {
    margin-right: 10px;
  }
  .HeaderImg1 img {
    width: 20%;
    min-width: 40px;
  }
  .HeaderImg2 {
    margin-right: 10px;
  }
  .HeaderImg2 img {
    width: 20%;
    min-width: 40px;
  }

  .PumpButton {
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: 50px;
    border-radius: 20px;
    width: 15%;
    font-size: 1em;
    height: 50%;
  }
  .PumpButtonLink {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color */
  }
  
  .PumpButton img {
    width: 30px;
    margin: auto;
    margin-left: 5px;
  }
  .TOAD {
    margin-top: 30px;
  }
  .ToadImg img {
    width: 90%;
    margin-left: 7%;
  }
  .ToadTitle {
    -webkit-text-stroke: 30px transparent;
    color: white;
    font-size: 2.5em;
    margin-top: -10%;
  }
  .ToadSubTitle {
    font-size: 1em;
    margin-top: -80px;
  }
  .Wallet {
    margin-top: 15px;
    border-radius: 30px;
    height: 50px;
  }

  .WalletNumber {
    margin-top: -10px;
    margin-left: 50px;
    font-size: .8em;
  }
  .WalletCopy {
    background-color: #6ed1c1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin-right: -18px;
    min-width: 20px;
  }
  .gallery{
    height: 1500px;
  }
  .GalleryName {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 865px) {
  body {
    background-image: url(Assets/LoadButt2.png);
    background-repeat: repeat-y;
  }

  .header {
    width: 80%;
    height: 60px;
    margin-top: 40px;
    border-radius: 100px;
    text-align: left;
    display: flex;
    justify-content: right;
  }
  .HeaderText {
    font-size: 13px;
    margin-top: -20px;
    margin-right: 80px;
  }
  .HeaderImg1 {
    margin-right: 5px;
  }
  
 .HeaderImg1 img {
    width: 45%;
    min-width: 10px;
  } 

  .HeaderImg2 img {
    width: 45%;
    min-width: 10px;
  }
  .ToadTitle {
    margin-top: -15%;
  }
  .arrow {
    left: 5%;
  }
  .PumpButton {
    margin-top: 15px;
    margin-bottom: auto;
    margin-right: 15px;
    width: 15%;
    border-radius: 10px;
    font-size: 1em;
  }
  
  .PumpButton img {
    width: 25px;
    margin: auto;
    margin-left: 5px;
  }
  .PumpButton h3 {
    margin-right: 5px;
  }
  .Wallet {
    margin-top: 15px;
    border-radius: 30px;
    height: 35px;
  }

  .WalletNumber {
    margin-top: 0px;
    margin-left: 20px;
    font-size: .65em;
  }
  .WalletCopy {
    background-color: #6ed1c1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 35px;
    margin-right: -18px;
    min-width: 20px;
  }
  .GalleryName {
    margin-left: auto;
    margin-right: auto;
    -webkit-text-stroke: 50px transparent;
    font-size: 3em;
    padding-left: 50px;
    padding-right: 50px;
  }
  .gallery {
    height: 2000px;
  }
}

@media screen and (max-width: 720px)  {
  .WalletNumber{
    font-size: 8px;
  }
  .gallery {
    height: 2500px;
  }
}
@media screen and (max-width: 546px) {
    .HeaderText {
        margin-right: 15px;
        font-size: 9px;
    }
    .arrow {
      width: 20%;
      font-size: 0.7em;
      top: 10%;
    }
    .ToadTitle {
      font-size: 1.5em;
      margin-top: -14%;
    }
    .ToadSubTitle {
      margin-top: -13%;
    }
    .HeaderImg1 img {
        width: 60%;
        min-width: 10px;
        margin-top: 5px;
      } 
      .HeaderImg2 img {
        width: 60%;
        min-width: 10px;
        margin-top: 5px;
      } 
      .PumpButton {
        width: 30%;
      }
      .Wallet {
        margin-top: 15px;
        border-radius: 30px;
        height: 35px;
        width: 85%
      }

      .WalletNumber{
        font-size: 7px;
      }
      .ToadImg img {
        width: 60%;
        margin-left: 20%;
      }
      .Meme {
        background-color: white;
        width: 280px;
        height: 280px;
      }
}

@media screen and (max-width: 394px ) {
    .HeaderText {
        margin-top: -20px;
      }
      .HeaderImg1 img {
        width: 100%;
        min-width: 10px;
        margin-top: 5px;
      } 
      .HeaderImg2 img {
        width: 100%;
        min-width: 10px;
        margin-top: 5px;
      } 
      .WalletNumber {
        margin-top: -5px;
        margin-left: 5px;
        font-size: .4em;
      }
      .WalletCopy {
        background-color: #6ed1c1;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        width: 35px;
        margin-right: -18px;
        min-width: 20px;
      }

}




















/* 1174
1673 */
